/* src/App.css */
.body {
    font-family: Arial, sans-serif;
  }
  
 
  .logo {
    font-size: 1.5rem;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .billing-section, .products-section {
    width: 45%;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    background: #f4f4f4;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width:200px;
    height: 120px;
    border-radius: 10px;
  }
  
  .product-card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .billing-section ul {
    list-style: none;
    padding: 0;
  }
  
  .billing-section li {
    padding: 10px 0;
  }
  
  .total {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  