
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #161617;
  color: white;
  height: 100px;
}

.header h1 {
  margin: 0;
}

.header-right {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.header-right input {
  padding: 5px;
  width:35vw;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.header-right input:active {
    border: none;
}



.header-right img {
  
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  height: 24px;
  margin-right: 200px;
}

.header-right img:hover {
  background-color: #6c757d;
  transition: 1s;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

/* Main content layout */
.main-content {
  display: flex;
  flex: 1;

}

/* Sidebar styling  */
.sidebar {
  width: 250px;
  background-color: #161617;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20%;
  height: 500px;
  border-radius: 0 12px 12px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  padding: 10px;

  border-radius: 5px;
}

.sidebar ul li:hover {
  background-color: #6c757d;
  cursor: pointer;
  transition: 1s;
}

/* Content area */
.content {
  flex: 1;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}


.popup-content1 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}


.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}



